<h1>Hello Angular</h1>
<!-- <app-firstcmp></app-firstcmp>
<app-interpolation></app-interpolation>
<app-propertybinding></app-propertybinding>
<app-eventbinding></app-eventbinding>
<app-twowaybinding></app-twowaybinding> 
 <app-loginform></app-loginform> 
<app-directive></app-directive> -->
<p>This is a paragraph</p>
<p appCustomdirective>This is one more paragraph</p> 

 <!-- <app-pipecmp></app-pipecmp>
<app-parent1></app-parent1>  -->
<!-- <app-parent2></app-parent2> -->
<!-- <app-routingcmp></app-routingcmp> -->
<!-- <p [appCustomdirective]="myColor" defaultValue="red"> dynamicColor Directive Demo</p>  -->


<!-- <app-templateform></app-templateform> -->


<app-reactiveforms></app-reactiveforms>